@{
    Layout = "_EmptyLayout";
}

<div class="container">
    <div class="frame" data-text="User" >
        <a onclick="saveClientType('user')">
            <img src="/img/source_img/man.png" alt="user">
        </a>
    </div>
    <div class="frame" data-text="Admin">
        <a onclick="saveClientType('admin')">
            <img src="/img/source_img/admin.png" alt="admin">
        </a>
    </div>
</div>