.search {
    padding-right: 15px;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropbtn {
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropdown-content {
    display: none;
    position: absolute;
    z-index: 1;
}

    .dropdown-content a {
        color: black;
        padding: 6px;
        text-decoration: none;
        display: block;
    }

.dropdown:hover .dropdown-content {
    display: block;
}
