<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/workspace.css" type="text/css">
    <link rel="stylesheet" href="/css/loginSignin.css" type="text/css">
    
</head>
<body>
    <div>
        @RenderBody()
    </div>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="/js/workspace.js"></script>
    <script src="/js/errors.js"></script>
    <script src="/js/LoginChecker.js"></script>
</body>
</html>